//p {
//  font-family: Lato;
//}
.position-fixed {
  position: fixed
}
//
//main {
//  margin-top: 64px;
//  height: 100%
//}
//
//footer {
//  margin-top: auto;
//  min-height: 100px;
//  background-color: aquamarine;
//}

/*
 * Actual Sticky Footer Styles
 */
.all-wrap {
  min-height: 100vh;
}

.page-wrap {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex: 1;
}


/*
 * Make the Component injected by Router Outlet full height:
 */
main {
  margin-top: 64px;
  display: flex;
  flex-direction: column;
  > *:not(router-outlet) {
    flex: 1;
    display: block;
  }
}

footer {
  min-height: 100px;
  background-color: aquamarine;
}
