<mat-sidenav-container class="all-wrap" fullscreen>

  <!-- The side nav -->
  <mat-sidenav #drawer fixedInViewport="true" [mode]="'over'" [opened]="false">
    <mat-toolbar color="primary">Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item [routerLink]="['/page-one']" (click)="drawer.toggle()">Page One Scroll</a>
      <a mat-list-item [routerLink]="['/page-two']" (click)="drawer.toggle()">Page Two No Scroll</a>
      <a mat-list-item [routerLink]="['/page-three']" (click)="drawer.toggle()">Page Three Long Scroll</a>
    </mat-nav-list>
  </mat-sidenav>
  <!-- EO: Side nav-->

  <!-- Side nav content-->
  <mat-sidenav-content>
    <div class="page-wrap">
      <header role="banner">
        <mat-toolbar class="position-fixed" color="primary">
          <button
            type="button"
            mat-icon-button
            (click)="drawer.open()"
            title="Open sidenav">
            <mat-icon>menu</mat-icon>
          </button>
          Your Toolbar
        </mat-toolbar>
      </header>
      <main class="content">
        <router-outlet (deactivate)="onDeactivate()"></router-outlet>
      </main>
      <footer>
        Your sticky footer with a variable height.
      </footer>
    </div>


  </mat-sidenav-content>
  <!-- EO: Side nav content-->

</mat-sidenav-container>



